
<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">

        <div class="top_img">
            <h2 class="heading">
                ОБЕД И ЗАВТРАК
            </h2>
        </div>


        <div class="row1">

            <div class="column1">
                <div>
                    <img src="img/sandwich.png">
                </div>
                <div>
                    <img src="img/berry_parfe.png">
                </div>
               



            </div>
            <div class="column1">
                <div>
                    <img src="img/chea_parfe.png">
                </div>
                
            </div>
            <div class="column1">
                <div>
                    <img src="img/bagel.png">
                </div>
                
            </div>

        </div>



</body>
</html>