
<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">


        <div class="Hot_coffee_header">Сендвичи</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <figure class="package_figure">
                <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                    <img src="img/sandwich.png" height="200" width="200">
                </a>
                <figcaption class="mocha_text">Сендвич с яйцом</figcaption>
            </figure>

            <figure class="package_figure">
                <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                    <img src="img/bagel.png" height="200" width="200">
                </a>
                <figcaption class="mocha_text">Бейгл мультизреновой</figcaption>
            </figure>

           
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>



        </div>

        <div class="Hot_coffee_header">Парфе</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                       <img src="img/berry_parfe.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Ягодное парфе</figcaption>
                </figure>
            </div>
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                        <img src="img/chea_parfe.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Парфе с семянами чиа</figcaption>
                </figure>
               
            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>
        </div>

        <div class="Hot_coffee_header">Другие завтраки</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                        <img src="img/surniki.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Сырники сметаной и малиновым вареньем</figcaption>
                </figure>

            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>

        </div>
        <div class="Hot_coffee_header">Паста</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                        <img src="img/pasta.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Соба с курицей</figcaption>
                </figure>
 
            </div>
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                        <img src="img/grib.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Паста курица - грибы</figcaption>
                </figure>
               
            </div>
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="LunchAndBreakfast" asp-action="Calories">
                        <img src="img/list.png " height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Пенне Арабьята</figcaption>
                </figure>
            
            </div>

        </div>


</body>
</html>
