<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">
        <script>function funk(param) {
            localStorage.setItem('4', document.getElementById(param).src);
            };</script>

        <div class="Hot_coffee_header">Чизкейки</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="Products" asp-action="Calories" onclick="funk('cheese_img')" asp-route-tableName="Desserts" asp-route-name="Чизкейк Ореховый">
                        <img id="cheese_img" src="img/cheese.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Чизкейк Ореховый</figcaption>
                </figure>

            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>


        </div>

        <div class="Hot_coffee_header">Печенье</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <div class="column1">


                <figure class="package_figure">
                    <a asp-controller="Products" asp-action="Calories"  onclick="funk('3_chocolate_img')"  asp-route-tableName="Desserts" asp-route-name="Печенье три шоколада">
                        <img id="3_chocolate_img" src="img/3_chocolate_cookey.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Печенье три шоколада</figcaption>
                </figure>

            </div>

            <figure class="package_figure">
                <a asp-controller="Products" asp-action="Calories"  onclick="funk('chocolate')"  asp-route-tableName="Desserts" asp-route-name="Печенье двойной шоколад">
                    <img id="chocolate" src="img/chocolate_cookey.png" height="200" width="200">
                </a>
                <figcaption class="mocha_text">Печенье два шоколада</figcaption>
            </figure>

            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="Products" asp-action="Calories" onclick="funk('solt')"  asp-route-tableName="Desserts" asp-route-name="Печенье соленая коромель" >
                        <img id="solt" src="img/solt_caramel_cookey.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Печенье соленая карамель</figcaption>
                </figure>

            </div>

        </div>


        <div class="Hot_coffee_header">Донаты</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="Products" asp-action="Calories"  onclick="funk('choko_donat')"  asp-route-tableName="Desserts" asp-route-name="Донат с ванильным кремом и шоколадом">
                        <img id="choko_donat" src="img/choco_donat.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Донат с шоколадной крошкой</figcaption>
                </figure>
            </div>
            <div class="column1">

                <figure class="package_figure">
                    <a asp-controller="Products" asp-action="Calories"  onclick="funk('donat')"  asp-route-tableName="Desserts" asp-route-name="Донат малиновый чизкейк">
                        <img id="donat" src="img/donat.png" height="200" width="200">
                    </a>
                    <figcaption class="mocha_text">Донат малиновый чизкейк</figcaption>
                </figure>

            </div>
            <div class="column1">
                <div>
                    <img src="">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="">
                </div>

            </div>

        </div>



</body>
</html>


