<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">

        <div class="top_img">
            <h2 class="heading">
                ДЕСЕРТЫ
            </h2>
        </div>


        <div class="row1">

            <div class="column1">
               
                <div>
                    <img src="img/browny.png">
                </div>
                <div>
                    <img src="img/3_Chocolate_cookey.png">
                </div>
                



            </div>
            <div class="column1">
                <div>
                    <img src="img/almond_croussant.png">
                </div>
                
                
            </div>
            <div class="column1">
                <div>
                    <img src="img/butter_croussant.png">
                </div>
           
            </div>

        </div>



</body>
</html>


