<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">

       
        <div class="Hot_coffee_header">Чизкейки</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <div class="column1">

                <div>
                    <a>
                        <img src="img/cheese.png">
                    </a>

                </div>

            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src=" ">
                </div>

            </div>
           

        </div>

        <div class="Hot_coffee_header">Печенье</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <div class="column1">


                <div>
                    <img src="img/3_chocolate_cookey.png">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="img/chocolate_cookey.png">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="img/solt_caramel_cookey.png">
                </div>

            </div>

        </div>


        <div class="Hot_coffee_header">Донаты</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">

            <div class="column1">


                <div>
                    <img src="img/choco_donat.png">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="img/donat.png">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="">
                </div>

            </div>

        </div>



</body>
</html>


