
<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
</head>
<body style="height:100%">
    <section class="top" style="height:100%">

        <div class="left_side" style="height:100%">
            <img name="drink_img" src=" " style="height:400px" width="400px" />
            <script>drink_img.src = localStorage.getItem('4');
                                            // localStorage.clear();</script>
            <h2>Круассан с маслом</h2>
            <p>Классический французский круассан с сырной начинкой и посыпкой из трав. </p>
        </div>

        <div class="rigth_side">
           
        </div>

    </section>
</body>
</html>