<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">

     

        <div class="Hot_coffee_header">Круассаны</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">


            <div class="column1">
                <div>
                    <img src="img/butter_croussant.png">
                </div>
            </div>
            <div class="column1">
                <div>
                    <img src="img/almond_png.png">
                </div>
            </div>
            <div class="column1">

                <div>
                    <img src="img/lemon_png.png">
                </div>
            </div>

        </div>

        <div class="Hot_coffee_header">Маффины</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">
            <div class="column1" >

                <div>
                    <img class="maffin_image" src="img/maffin.png"  >
                </div>

            </div>
            <div class="column1">

                <div>
                    <img src=" ">
                </div>

            </div>
            <div class="column1">

                <div>
                    <img src=" ">
                </div>

            </div>
        </div>

        <div class="Hot_coffee_header">Остальная выпечка</div>
        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5">
        <div class="row1">
            <div class="column1">
                <div>
                    <img src="img/brecle_png.png">
                </div>
            </div>
            <div class="column1">
                <div>
                    <img src="img/pletenka.png">
                </div>
            </div>
            <div class="column1">

                <div>
                    <img src="img/waffel_png.png">
                </div>
            </div>

        </div>

</body>
</html>








