<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">

        <div class="top_img">
            <h2 class="heading">
                ВЫПЕЧКА
            </h2>
        </div>


        <div class="row1">

            <div class="column1">
                <div>
                    <img src="img/perrier.png">
                </div>
                <div>
                    <img src="img/perrier.png">
                </div>
                <div>
                    <img src="img/perrier.png">
                </div>



            </div>
            <div class="column1">
                <div>
                    <img src="img/perrier.png">
                </div>
                <div>
                    <img src="img/perrier.png">
                </div>
                <div>
                    <img src="img/perrier.png">
                </div>
            </div>
            <div class="column1">
                <div>
                    <img src="img/perrier.png">
                </div>
                <div>
                    <img src="img/perrier.png">
                </div>
                <div>
                    <img src="img/perrier.png">
                </div>
            </div>

        </div>



</body>
</html>