<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MX 3</title>
    <link rel="stylesheet" href="style.css">
    <script>function newPage() {
            document.getElementById('drinks')
                .addEventListener('click', () => window.const = new type(arguments), (_));
        }</script>

</head>
<body>
    <section class="top">
        <header class="header center">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a href="index.html">
                        <img class="header_logo header_logo_white" src="img/main_Loho_png.png" alt="logo">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse menu-desctop" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">НАПИТКИ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="drinks" onclick="newPage()" href="#">ВЫПЕЧКА</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">ДЕСЕРТЫ</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">ЛАНЧ И ЗАВТРАК</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">ЕДА В УПАКОВКЕ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">НАПИТКИ В БУТЫЛКАХ</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </nav>
        </header>
        <div class="top_img">
            <h2 class="heading">
                РАБОТАЙТЕ ПРОДУКТИВНЕЕ
            </h2>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Starbucks_Calorimeter.styles.css" asp-append-version="true" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

        <footer class="footer">
            Copyright &copy; 2021 Logitech <br>
            Все права защищены
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>