table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}

caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #E8E6D1;
}



.head {
    display: flex;
    border-bottom: 2px solid black;
}

.somecontainer {
    display: flex;
}

h1 {
    flex: 4;
}

.somebuttons {
    flex: 1;
    margin-top: 33px;
}

.leftmenu {
    flex: 1;
    border-right: 1px solid black;
}

main {
    flex: 9;
}
