body {
    font-family: Roboto;
    position: relative;
    margin: 0;
    min-height: 100%;
}

.html {
    height: 100%;
}



.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
}

.pb-3 {
    padding-bottom: 0px !important;
}


.center-content {
    display: flex;
    justify-content: center;
}

.navbar {
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

html, body, .top {
    height: 100%;
}

.top {
    background: #E0E1E2;
    min-height: calc(100vh - 75px - 23px);
}

.header_logo_white {
    display: none;
}

.navbar > .container, .navbar > .container-fluid, .navbar >
.container-lg, .navbar > .container-md, .navbar >
.container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    justify-content: center
}


.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
    padding-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -5px;
    position: static;
}

.welcome_img {
    width: 100%;
    padding-top: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

.reward_img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Hot_coffee_header {
    padding-left: 50px;
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Hot_tea_header {
    padding-top:  50px;
    padding-left: 50px;
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Frapp_header {
    padding-top:  50px;
    padding-left: 50px;
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Cold_coffee_header {
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Cold_tea_header {
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Lemonade_header {
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.mocha_text {
    text-align: center;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem !important;
}

.latte_text {
    text-align: center;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem !important;
}

.cappucino_text {
     text-align: center;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem !important;
}

.lemonade_img {
   
    position:relative;
}

.config_size_text {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 60%;
}

.size_buttons {
    padding-left: 60%;
    border-radius: 100%;
    padding-left: 60%;
    border-radius: 100%;
    display: flex;
    margin: 5px;
}

.short_button {
    height: 36px;
    width: 36px;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: thin;
    background: #E0E1E2;
    background-image: url(../img/cup_img.png);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.tall_button {
    height: 36px;
    width: 36px;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: thin;
    background: #E0E1E2;
    background-image: url(../img/cup_img.png);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.grande_button {
    height: 36px;
    width: 36px;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: thin;
    background: #E0E1E2;
    background-image: url(../img/cup_img.png);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.venti_button {
    height: 36px;
    width: 36px;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: thin;
    background: #E0E1E2;
    background-image: url(../img/cup_img.png);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.size_text {
    text-align: center;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem !important;

}

.add_buttons {
    padding-left: 60%;
   
}

.add_button1 {
    background: #E0E1E2;
    height: 40px;
    width: 400px;
    border-radius: 5%;
    border-width: thin;
}

.maffin_image {
    margin-top: 0px;
    margin-bottom: 45px;
}

.block {
    display: flex;
    flex-direction: row;
}

.left_item {
    width: 0px;
    padding-top: 60px;
    padding-left: 10px;
}

.line {
    width: 320px;
    color: #1987549c;
    height: 3px;
    /* padding-top: 5px; */
    margin-top: 0px;
    height: 3px;
   
}

.monetka_text {
    text-align: center;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem !important;
}

.package_figure {
    text-align:center;
}


.left_side {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 200px;
    padding-left: 10px;
    height: 100%;
}

}

.rigth_side {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 200px;
    padding-left: 60%;
    padding-right:10px;
    height: 100%;
}

.modal-dialog {
    height: 100%;
    margin-right: 0;
    min-width: 60%;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content {
    height: 100%;
    background: rgb(224, 225, 226);
}

.Complit-button {
    bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
    color: aliceblue;
    text-size-adjust: 15px;
    font-size: 1.9rem;
    font-family: Roboto;
    border: 0;
    border-radius: 500px;
    box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
    background: #00a862;
}



@media (min-width: 768px) {
    .navbar {
        padding-top: 54px;
    }

    .header_logo {
        width: 240px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .text_blut2 {
        font-size: 24px;
        line-height: 28px;
    }

    .top_text-margin {
        margin-left: 159px;
        margin-right: 159px;
    }

    .c {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top_arrow {
        margin-top: 76px;
    }

    .top_svg {
        height: 33px;
        width: 61px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bl_heading {
        font-size: 150px;
        line-height: 176px;
        margin-top: 76px;
    }

    .bl_img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .ifo_item-heading {
        margin-bottom: 5px;
    }

    .info__item {
        min-height: 170px;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text_flow-p {
        margin-left: 0px;
        margin-right: 0px;
    }

    .flow_ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0px;
    }

    .text_flow {
        width: auto;
        padding-right: 21px;
        padding-left: 28px;
        padding-top: 8px;
        padding-bottom: 4px;
        border-left: 1px solid #494949;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
    }

        .text_flow:first-child {
            border-left: none;
            padding-left: 0px;
        }

        .text_flow:last-child {
            padding-right: 0px;
        }

    .settings {
        padding-bottom: 70px;
    }

    .settings_slider {
        margin: 54px 198px 150px;
    }

    .settings_content {
        margin-left: 64px;
        margin-right: 64px;
    }

    .settings_icons {
        margin-right: 104px;
        margin-left: 98px;
    }

    .settings_img {
        height: 35px;
    }

    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings-p {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings {
        font-size: 20px;
        line-height: 23px;
    }

    .text_mouse {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mouse_text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }

    .mouse_img {
        height: 549px;
    }

    .mouse_img_1 {
        background-image: url(img/superbig1.jpg);
        background-size: contain;
    }

    .mouse_img_2 {
        background-image: url(img/123.jpg);
        background-size: contain;
        margin-bottom: 0px;
    }

    .footer {
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 47px;
    }

    .row {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height 50px:;
        margin-top: 8px;
        vertical-align: middle;
    }

}
    
@media (min-width: 1024px) {
   

    .center {
        padding-right: calc(50% - 580px);
        padding-left: calc(50% - 580px);
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
        

    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .header {
        background: rgb(28, 97, 28);
        height: 80px;
        display: flex;
        align-items: center;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }

    .header_logo_dark {
        display: none;
       
        
    }

    .header_logo_white {
        display: block;
        width: 150px;  
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

        .navbar-light .navbar-nav .nav-link.active,
        .navbar-light .navbar-nav .show > .nav-link {
            border-bottom: 1px solid #fff;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

    .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
        justify-content: space-between;
        padding: 0px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item:first-child {
        padding-left: 0px;
    }

    .nav-item:last-child {
        padding-right: 0px;
        border: none;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;
    }

    .top_img {
        margin-top: 20px;
        padding-top: 80px;
        background-image: url(img/MX-Master\ 1.png);
        margin-bottom: 8px;
    }

    

    .top_arrow {
        margin-top: 49px;
    }

    .bl_img {
        height: 427px;
        background: url(img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 109px, url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png) no-repeat right 109px;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bl_heading {
        font-size: 96px;
        line-height: 112px;
    }

    .bluetooth_heading_day {
        font-weight: 900;
        font-size: 300px;
        line-height: 352px;
    }

    .menu-desctop {
        margin-right: 147px;
    }

    .first_bottle_img {
        height: 250px;
        margin-left: 25px;
        margin-right: 19px;
        top: -20px;
    }

    .row1 {
       display:flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-around;
    }


    .column1 {
        display: flex;
        flex-direction:column;
    }


    .column1 img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height 50px;
    
    margin-top: 8px;
    vertical-align: middle;

        }

    .welcome_img {
        width: 100%;
        padding-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        
    }

}

