@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>

    <div>
        <img class="welcome_img" src="img/welcome_img.jpg">
    </div>

    <div>
        <img class="reward_img" src="img/reward_img.jpeg">
    </div>
 </body>