

<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">

        <div class="row1">

            <div class="column1">
                <div>
                    <img src="img/be_kind_orange.png">
                </div>
                <div>
                    <img src="img/dark_chocolate.png">
                </div>
                <div>
                    <img src="img/milk_choco.png">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="img/be_kind_yellow.png">
                </div>
                <div>
                    <img src="img/dark_choc.png">
                </div>

            </div>
            <div class="column1">
                <div>
                    <img src="img/be_kind_blue.png">
                </div>
                <div>
                    <img src="img/moneta.png">
                </div>
                

            </div>

        </div>



</body>
</html>