<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body >
    <section class="top">
        <div class="block">
            <div class="left_item">
                <img name="drink_img" src=" " style="height:500px" />
                <script>drink_img.src = localStorage.getItem('4');
                    // localStorage.clear();</script>
            </div>

            <div class="right_item">
                <div class="config_size_text">
                    Выберите размер
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin  pb5 line" id="line" />
                </div>

                <div class="size_buttons">

                    <figure class="lemonade_img">
                        <button class="short_button" onclick="press()"></button>
                        <figcaption class="size_text">Short</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <button class="tall_button"></button>
                        <figcaption class="size_text">Tall</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <button class="grande_button"></button>
                        <figcaption class="size_text">Grande</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <button class="venti_button"></button>
                        <figcaption class="size_text">Venti</figcaption>
                    </figure>


                </div>

                <div class="config_size_text">
                    Добавки
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                </div>

                <div class="add_buttons">

                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#modal0"></button>
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#milkmodal"></button>
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#modal2"></button>
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#modal3"></button>
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#modal4"></button>
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#modal5"></button>
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#modal6"></button>


                </div>
            </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="milkmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal0" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal2" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal3" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal4" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal5" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal6" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal-->

    </section>

</body>
</html>
