<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body >
    <section class="top">
        <div class="block">
            <div class="left_item">
                <img name="drink_img" src=" " style="height:500px" />
                <script>drink_img.src = localStorage.getItem('4');
                    // localStorage.clear();</script>
            </div>

            <div class="right_item">
                <div class="config_size_text">
                    Выберите размер
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin  pb5 line" id="line" />
                </div>

                <div class="size_buttons">

                    <figure class="lemonade_img">
                        <button class="short_button" onclick="press()"></button>
                        <figcaption class="size_text">Short</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <button class="tall_button"></button>
                        <figcaption class="size_text">Tall</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <button class="grande_button"></button>
                        <figcaption class="size_text">Grande</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <button class="venti_button"></button>
                        <figcaption class="size_text">Venti</figcaption>
                    </figure>


                </div>

                <div class="config_size_text">
                    Добавки
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                </div>

                <div class="add_buttons">

                   
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#milkmodal">Молоко</button>
                    <button class="add_button2" data-bs-toggle="modal" data-bs-target="#syropmodal">Сироп</button>
                    <button class="add_button2" data-bs-toggle="modal" data-bs-target="#espmodal">Эспрессо</button>
                    <button class="add_button2" data-bs-toggle="modal" data-bs-target="#creammodal">Сливки</button>
                   


                </div>
            </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="milkmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Молоко</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Молоко
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Стандартное молоко</button>
                            <button class="add_button">Кокосовое молоко</button>
                            <button class="add_button">Овсяное молоко</button>
                            <button class="add_button">Безлактозное молоко</button>
                            <button class="add_button">Соевое молоко</button>
                            <button class="add_button">Маложирное молоко</button>
                            <button class="last_milk_temp_button">Миндальное молоко</button>
                        </div>

                        <div class="milk_text">
                            Температура молока
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Детская температура</button>
                            <button class="add_button">Стандартная температура</button>
                            <button class="last_milk_temp_button">Повышенная температура</button>
                        </div>
                        <button class="Complit-button">Готово</button>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
            </div>
        </div>

        <div class="modal fade" id="syropmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="espmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="creammodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Form</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <!--Modal-->

    </section>

</body>
</html>
