<!DOCTYPE html>
<html lang="en">
<head>



</head>
<body>
    <section class="top">


        <div class="Hot_coffee_header">Горячий кофе</div>

        <div class="row1">

            <div class="column1">

                <figure>
                    <img src="img/mocha_png.png" />
                    <figcaption class="mocha_text">Мокка</figcaption>
                </figure>

                <figure>
                    <img src="img/cappucino_png.png">
                    <figcaption class="cappucino_text">Каппучино</figcaption>
                </figure>

                <figure>
                    <img src="img/latte_png.png">
                    <figcaption class="latte_text">Латте</figcaption>
                </figure>
            </div>

            <div class="column1">

                <figure>
                    <img src="img/espresso_png.png">
                    <figcaption class="mocha_text">Эспрессо</figcaption>
                </figure>

                <figure>
                    <img src="img/black_coffee_png.png">
                    <figcaption class="cappucino_text">Фильтр-кофе</figcaption>
                </figure>

            </div>
            <div class="column1">
                <figure>
                    <img src="img/Caramel_Macchiato_png.png">
                    <figcaption class="mocha_text">Карамель - маккиато</figcaption>
                </figure>

                <figure>
                    <img src="img/americano_png.png">
                    <figcaption class="cappucino_text">Американо</figcaption>
                </figure>
            </div>


            <div class="column1">
                <figure>
                    <img src="img/flat_white_png.png">
                    <figcaption class="mocha_text">Флет - уайт</figcaption>
                </figure>

                <figure>
                    <img class="con_pana_img" src="img/esp_conPanna_png.png">
                    <figcaption class="cappucino_text">Эспрессо - Кон - Пана</figcaption>
                </figure>
            </div>
        </div>

            <div class="Hot_tea_header">Горячий чай</div>
            <div class="row1">

                <div class="column1">

                    <figure>
                        <img src="img/chai_tea_png.png">
                        <figcaption class="mocha_text">Чай со специями</figcaption>
                    </figure>

                    <figure>
                        <img src="img/earl_gray_png.png">
                        <figcaption class="cappucino_text">Эрл грей</figcaption>
                    </figure>
                </div>

                <div class="column1">

                    <figure>
                        <img src="img/emperors_mint_png.png">
                        <figcaption class="mocha_text">Императорский зеленый чай</figcaption>
                    </figure>

                    <figure>
                        <img src="img/english_breakfast_png.png">
                        <figcaption class="cappucino_text">Английский завтрак</figcaption>
                    </figure>
                </div>

                <div class="column1">

                   <figure>
                       <img src="img/macha_png.png">
                        <figcaption class="mocha_text">Маття чай латте</figcaption>
                    </figure>

                   <figure>
                       <img src="img/mint_citrus_png.png">
                       <figcaption class="cappucino_text">Чай мята цитрус</figcaption>
                   </figure>
                </div>

                <div class="column1">

                    <figure>
                        <img src="img/tea_latte_png.png">
                        <figcaption class="mocha_text">Пряный чай латте</figcaption>
                    </figure>   
                </div>

            </div>


    </body>
    </html>
