@{
    ViewData["Title"] = "Admin Panel";
}

<style>
    .head{
        display: flex;
        border-bottom: 2px solid black;
    }
    .somecontainer{
        display: flex;
    }
    h1{
        flex: 4;
    }
    .somebuttons{
        flex: 1;
        margin-top: 10px;
    }
    .leftmenu{
        flex: 1;
        border-right: 1px solid black;
    }
    main{
        flex: 9;
    }
</style>


<div class="head">
    <h1>Админ страничка</h1>

    <form method="get" action="/Admin/ChangePassword">
        <input type="submit" action="/Admin/ChangePassword" value="Изменить пароль" class="somebuttons" style="margin-right: 3px;"/>
    </form>

    <form method="post" action="/Admin/SignOut">
        <input type="submit" action="/Admin/SignOut" value="Выйти" class="somebuttons"/>
    </form>
</div>

<div class="somecontainer">
    <nav class="leftmenu">
        <a>BottledDrinks</a><br />
        <a>Creams</a><br />
        <a>Desserts</a><br />
        <a>Drinks</a><br />
        <a>Espressoes</a><br />
        <a>FoodInPackages</a><br />
        <a>LunchAndBreakfasts</a><br />
        <a>Milks</a><br />
        <a>Pasty</a><br />
        <a>Sizes</a><br />
        <a>Syrops</a><br />
        <a>Users</a><br />
    </nav>
    <main>

    </main>
</div>
