@{
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>
<div class="head">
    <h1>Админ страничка</h1>

    <form action="/Home/Index">
        <input type="submit" action="/Home/Index" value="Вернуться на главную" class="somebuttons" style="margin-right: 3px;"/>
    </form>

    <form method="get" action="/Admin/ChangePassword">
        <input type="submit" action="/Admin/ChangePassword" value="Изменить пароль" class="somebuttons" style="margin-right: 3px;"/>
    </form>

    <form method="post" action="/Admin/SignOut">
        <input type="submit" action="/Admin/SignOut" value="Выйти" class="somebuttons"/>
    </form>
</div>

<div class="somecontainer">
    <nav class="leftmenu">
        <a>BottledDrinks</a><br />
        <a>Creams</a><br />
        <a>Desserts</a><br />
        <a>Drinks</a><br />
        <a>Espressoes</a><br />
        <a>FoodInPackages</a><br />
        <a>LunchAndBreakfasts</a><br />
        <a>Milks</a><br />
        <a>Pasty</a><br />
        <a>Sizes</a><br />
        <a>Syrops</a><br />
        <a asp-action="Users">Users</a><br />
    </nav>
    <main>
        @RenderBody()
    </main>
</div>
</body>
</html>
