@{
    ViewData["Title"] = "Change password";
}

<h2>Изменение пароля для @ViewBag.Login</h2>

<form asp-action="ChangePassword" asp-controller="Admin">
    <p>
        <label>Old password</label><br />
        <input type="password" name="oldPassword" />
    </p>
    <p>
        <label>New password</label><br />
        <input type="password" name="newPassword" />
    </p>
    <input type="submit" value="Изменить" />
</form>